body {
	background-color: #0059b3;
}
header {
	background-color: #0066cc;
	background-image: url("beanos.jpg");
	background-position: right;
	background-repeat: no-repeat;
	height: 150px;
	padding:5px;
	padding-left: 20px;
}
footer {
	background-color: #0080ff;
	color: green;
	font-family: Verdana, Arial;
	text-align: center;
	font-size: 90%;
	padding: 5px;
}
#content {
	background-color: #3399ff;
	padding: 15px;
	min-height: 300px;
}
header, footer, #content {
	border-style: solid;
	border-width: 1px;
	border-color: navy;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: 5px 5px 5px black;
}
.floatImg{
	float: right;
	margin: 0px 10px;
}
h1 {
	color: #bbff33;
	font-size: 300%;
	font-family: Cambria, Courier;
}
h2 {
	color: black;
	font-family: Verdana, Arial;
}
h3 {
	color: black;
	font-family: Verdana, Arial;
}
h4 {
	color: black;
	font-family: Verdana, Arial;
}
h5 {
	color: black;
	font-family: Verdana, Arial;
}
ul {
	list-style-position: inside;
}